#textdomain wesnoth-multiplayer

# created by Jan Drabek

[multiplayer]
    id=4p-nmp-forbidden-mountain
    name= _ "4p NMP Forbidden mountain"
    map_data="{~add-ons/normal-map-pack/maps/4p-NMP-Forbidden_mountain.map}"
    description= _ "Forbidden mountain divides island - fight the others. Playable in 1,2 vs 3,4 (one battlefront per player), 1,3 vs 2,4 (two battlefronts per player) or 1 vs 2 vs 3 vs 4 (hardcore)."

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=16
        [/ai]
        side=1
        team_name=west
        user_team_name= _ "teamname^West"
        canrecruit=yes
        controller=human
        gold=100
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=16
        [/ai]
        side=2
        team_name=south
        user_team_name= _ "teamname^South"
        canrecruit=yes
        controller=human
        gold=100
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=16
        [/ai]
        side=3
        team_name=east
        user_team_name= _ "teamname^East"
        canrecruit=yes
        controller=human
        gold=100
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=16
        [/ai]
        side=4
        team_name=north
        user_team_name= _ "teamname^North"
        canrecruit=yes
        controller=human
        gold=100
        fog=yes
    [/side]
[/multiplayer]
